body {
	background-color: rgb(249,249,249);
}
h1{
	text-align: center;
}
header{
	text-align: center;
}

a{
      color: rgb(51, 51, 51);
}

}
h2 {
	color: rgb(255, 65,65);
}
.boi {
      padding: 5px;
        display: block;
}
article {
	max-width:500px;
	padding:20px;
	margin:0 auto;
}
img{
	text-align: center;
}
div {
	width: 300 px
	margin: auto;
}
