body {
	background-color: rgb(7,74,106);
	color: rgb(249, 249, 249);
}

header{
	text-align: center;
	background-image: url("money.jpg");
	
}

a{
      color: rgb(249, 249, 249);
}

}
h2 {
	color: rgb(255, 65,65);
}
.boi {
      padding: 5px;
        display: block;
}
article {
	max-width:500px;
	padding:20px;
	margin:0 auto;
}
img{
	text-align: center;
}
p {
	width: 200 px
	margin: auto;
	border: 1px rgb( 7, 74, 106);
}

h1 {
	text-align: center;
}

	
